body{
	display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1591597674715-ae031cbae4fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
    background-position:center top;
    height:350px;
    color: #ffffff;
	font-family: 'Merriweather', serif;
}

.jumbotron{
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
}
.jumbotron img {
    max-width: 25%;
    height:auto;
    border-radius: 50%;
    margin: 20px 20px;
}